body {
  
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f1e4e4;
  }
  
  .button-container {
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-left: 160vh;

  }
  
  .button {
    padding: 15px 20px;
    margin: 5px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: #2980b9;
  }

.bovenkant-container{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
}

 

header {
  background-color: rgb(19, 248, 87);
}


.socials{
  padding-right: 20px;
  flex-direction: row;
}

h1{
  padding-left: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.contact-block {
    background-color: #ffffff;
    max-width: 600px; /* Vergroot het blok */
    margin: 50px auto;
    padding: 30px; /* Verhoogde padding voor meer ruimte binnenin */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Iets meer schaduw voor diepte */
    border-radius: 8px;
}

.contact-block h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 28px; /* Grotere koptekst */
}

.contact-block p {
    margin: 15px 0; /* Meer ruimte tussen de paragrafen */
    color: #555;
    font-size: 18px; /* Grotere tekst voor betere leesbaarheid */
}

.contact-block ul {
    list-style-type: none;
    padding-left: 0;
}

.contact-block ul li {
    margin: 10px 0;
}

.contact-block strong {
    color: #000;
}

footer {
    background-color: rgb(19, 248, 87); /* Groen */
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 16px;
}